@font-face {
	font-family: "Kyrial";
	font-style: normal;
	font-display: swap;
	src: url("../../static/fonts/KyrialSansProRegular.woff") format("woff");
	font-weight: normal;
}

@font-face {
	font-family: "Kyrial";
	font-style: normal;
	font-display: swap;
	src: url("../../static/fonts/KyrialSansProSemiBold.woff") format("woff");
	font-weight: 600;
}